/**
 Compress
 */
div#megaoptim-compress-params .mc-form-row {
    margin-bottom: 20px;
}

div#megaoptim-compress-params {
    background: #fff;
    padding: 20px;
    border: 1px solid #d2d2d2;
}
#megaoptimCompress {
    border-style: dashed;
    border-color: #bfbfbf;
    min-height: 251px;
}
#megaoptimCompress .fa {
    font-size: 25px;
}
div#megaoptim-compress-files {
    margin-bottom: 41px;
}

.megaoptim-switch-label, .mc-form-row label {
    font-size: 14px;
    font-weight: bold;
}
.megaoptim-compress-params-title {
    margin-bottom: 20px;
}

.mc-form-footer {
    margin-bottom: 0 !important;
    margin-top: 20px;
    border-top: 1px solid #f0f0f0;
    padding-top: 25px;
}
@media(max-width: 767px) {
    div#megaoptim-compress-params {
        margin-bottom: 24px;
    }
}

#megaoptim-compress-params label {
    font-weight: bold;
    display: block;
}
.mc-form-row p {
    margin-top: 0;
}

div#megaoptim-compress {
    margin-bottom: 30px;
    margin-top: 15px;
}

.uploadOuter {
    text-align: center;
    padding: 20px;
}
.uploadOuter strong {
    padding: 0 10px;
}
.dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
}
.dragBox input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}
.draging {
    transform: scale(1.1);
}
#preview {
    text-align: center;
}
#preview img {
    max-width: 100%;
}

.dropzone .dz-preview {
    width: 20% !important;
}
.dropzone .dz-preview .dz-image {
    max-width: 100% !important;
}